.mphd-button {
   border: none;
   cursor: pointer;
   font-size: 16px;
   border-radius: 6px;

   border: 2px solid transparent;
}

.mphd-button:focus {
   border: 2px solid black;
}

.mphd-button:disabled {
   cursor: default;
}